<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center><h1>register here</h1></center>
<from action = "" method ="post">
    Id : <input type="text" name = "id"><br><br>
    FirstName : <input type="text" name = "fname"><br><br>
    LastName: <input type="text" name = "lname"><br><br>
    Email: <input type="text" name = "email"><br><br>
    Mobile: <input type="text" name = "mobile"><br><br>
    Gender:<input type="radio" name = "gender" value="M"> Male
            <input type="radio" name = "gender" value="F">Female<br><br>
    password:<input type="password" name = "password"><br><br>
    confirm password:<input type="password" name = "password"><br><br>
</from>

</body>
</html>